<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.alltatalla.haffakort" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Haffakort</name>
  <description>
    Haffakort! Dina rättigheter i app-format.
  </description>
  <author email="info@alltatalla.com" href="http://alltatalla.com/">
    Allt åt alla
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="permissions" value="none" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
