<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Haffakort</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="cordova.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-translate/angular-translate.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="haffa">
    <ion-view ng-controller="HaffaCtrl">
      <ion-slide-box show-pager="true" does-continue="true">

        <ion-slide>
          <div class="box pink">
            <img class="whistle" src="img/whistle.png" />
            <h1 class="pink text-center">{{'TITLE' | translate}}</h1>
            <h3 class="pink text-center">{{'SUBTITLE-1' | translate}}</h3>
            <h3 class="pink text-center">{{'SUBTITLE-2' | translate}}</h3>

            <br />

            <div class="pink text-center">
              <span ng-click="changeLanguage('se')" ng-class="{'text-bold': key === 'se'}">
                se
              </span>
              &nbsp; | &nbsp;
              <span ng-click="changeLanguage('en')" ng-class="{'text-bold': key === 'en'}">
                en
              </span>
            </div>

          </div>
        </ion-slide>

        <ion-slide>
          <div class="box green">
            <h2 class="green text-center">{{'MISC.TITLE' | translate}}</h2>
            <p>{{'MISC.PAR-1' | translate}}</p>
            <p>{{'MISC.PAR-2' | translate}}</p>
            <p>{{'MISC.PAR-3' | translate}}</p>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="box pink">
            <h2 class="pink text-center">{{'DISORDERLY.TITLE' | translate}}</h2>
            <p>{{'DISORDERLY.PRE' | translate}}</p>
            <p>
              <b>{{'DISORDERLY.DISMISS.SUBTITLE' | translate}}</b>
              {{'DISORDERLY.DISMISS' | translate}}
            </p>
            <p>
              <b>{{'DISORDERLY.REMOVE.SUBTITLE' | translate}}</b>
              {{'DISORDERLY.REMOVE' | translate}}
            </p>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="box pink">
            <h2 class="pink text-center">{{'DISORDERLY-2.TITLE' | translate}}</h2>
            <p>
              <b>{{'DISORDERLY-2.DETAIN.SUBTITLE' | translate}}</b>
              {{'DISORDERLY-2.DETAIN' | translate}}
            </p>
            <p>
              <b>{{'DISORDERLY-2.MASSREMOVAL.SUBTITLE' | translate}}</b>
              {{'DISORDERLY-2.MASSREMOVAL' | translate}}
            </p>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="box green">
            <h2 class="green text-center">{{'PL24.TITLE' | translate}}</h2>
            <p>{{'PL24.WHAT?' | translate}}</p>
            <p>{{'PL24.TRANSGRESSION' | translate}}</p>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="box pink">
            <h2 class="pink text-center">{{'DISGUISE.TITLE' | translate}}</h2>
            <p>{{'DISGUISE' | translate}}</p>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="box green">
            <h2 class="green text-center">{{'QUESTIONING.TITLE' | translate}}</h2>
            <p>{{'QUESTIONING.PAR-1' | translate}}</p>
            <p>{{'QUESTIONING.PAR-2' | translate}}</p>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="box pink">
            <h2 class="pink text-center">{{'ARREST.TITLE' | translate}}</h2>
            <p>{{'ARREST.QUESTIONING' | translate}}</p>
            <p>{{'ARREST.ATTORNEY' | translate}}</p>
            <p>{{'ARREST.TIMES' | translate}}</p>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="box green">
            <h2 class="green text-center">{{'ABOUT.TITLE' | translate}}</h2>
            <p>{{'ABOUT.WHO?' | translate}}</p>
            <p>{{'ABOUT.BITE' | translate}}</p>

            <br />
            <img class="baton" src="img/baton.png"/>
            <br />
            <p class="text-center">
              &hearts; FCK CPS &hearts;
            </p>
          </div>
        </ion-slide>

      </ion-slide-box>
    </ion-view>
  </body>
</html>
